body {
    margin: 0;
    text-align: center;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9E9D2;
    position: relative;
    height: 800px;
}

h1 {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  color: #34526a; 
  margin: 0;
}

.developer {
    margin: 0;
    color: #34526a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}

.arrow {
    position: absolute;
    right: 200px;
    top: 280px;
}

.code {
    position: absolute;
    left: 150px;
    top: 170px; 
}

.computer {
    margin-top: 50px;
}

.middle-container {
    display: flex;
    justify-content: center;
}

.profile-content {
    margin: 75px;
    padding-top: 25px;
    width: 250px;
}

.photo-icon {
    height: 250px;
    border-radius: 50%;
}

.profile-content > h2 {
    color: #34526a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}

.intro {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.third-container {
    padding: 75px;
}

.skills {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.card {
    flex-basis: 350px;
    display: flex;
    text-align: left;
}



.little-icon {
    background-color: #C9E9D2;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    border-radius: 5px;
    margin-right: 10px;
}

.bi {
    color: white;
    height: 40px;
    width: 40px;
    padding: 2.5px;
}

.carrot {
    height: 45px;
    
}

.third-container h2 {
    color: #34526a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 75px;
}

.skills h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    color: #34526a;
    margin-top: 0;
    margin-bottom: 5px;
}

.skills p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 0;
} 

.fourth-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.last-card {
    margin-bottom: 50px;
}

.last-p {
    max-width: 700px;
    
}

.fourth-container h2 {
    color: #34526a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}

.fourth-container h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    color: #34526a;
}

.fourth-container p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.button {
    background-color: #C9E9D2;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
    border-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FEF9F2;
}

.mail {
    text-decoration: none;
    color: #34526a;
}

.last-container {
    background-color: #34526a;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.linksdiv {
    display: flex;
    gap: 150px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px
}

.link {
    text-decoration: none;
    color: #FEF9F2;
}

.link:hover {
    color: #C9E9D2;
}

footer {
    color: #FEF9F2;
    font-size: 15px
}

hr {
    border: dotted #FFE3E3 6px;
    border-bottom: none;
    width: 4%;
}  

@media (max-width: 1000px) {
    
    .computer {
        height: 200px;
    }
    .code {
        position: absolute;
        top: 70px;
        left: 50px;
        height: 70px;
    }
    .arrow {
        position: absolute;
        top: 100px;
        right: 90px;
        height: 60px;
    }
}

@media (max-width: 600px) {
    .skills {
        flex-direction: column;
        align-items: center;
        
    }
    .card {
        flex-basis: 150px;
        width: 350px;
        display: flex;
        text-align: left;
    }
    .linksdiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}
